body{
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}


/*Header*/
header{
  display: flex;
  width:100%;
  height: 67px;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
}

.logo img{
  height: 50px;
  margin-left: 10px
}

nav{
  text-align: right;
  flex-grow: 1;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

a{
  color: seashell;
  text-decoration: underline;
}

/*Mission Section*/
.main-mission{
  display: flex;
  justify-content: center;
  padding-top: 70px;
  text-align: center;
}

.mission{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.mission .text{
  margin: auto;
}

.text{
  background-color: black;
  text-align: center;
  width: 1200px;
}

/*Tea Section*/

.tea{
  display: flex;
  flex-wrap: wrap;
  Width: 1000px;
  justify-content: center;
  padding: 70px;
  margin: auto;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.items{
  display: inline;
  width: 300px;
  margin: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.items img{
  height: 200px;
  width: 300px;
  margin: 10px;
}

/*Locations*/

#locations{
  display: flex;
  justify-content: center;
  text-align: center;
}

.location{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

.addresses{
  display: inline-flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
}

.store{
  background-color: black;
  width: 300px;
  margin: 5px 20px;
}

.location h2{
  padding-top: 70px;
  margin: 5px auto;
}

.contact{
  text-align: center;
  height: 200px;
}

footer{
  margin-left: 20px;
}
